body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label input select {
  margin: 1rem;
}

option {
  padding: 5rem;
}
